<div *ngIf="topics">
  <table mat-table [dataSource]="topics.content" class="mat-elevation-z8">
    <ng-container matColumnDef="Id">
      <th mat-header-cell *matHeaderCellDef> Id </th>
      <td mat-cell (click)="getTopic(posting.id)" *matCellDef="let posting"> {{posting.id}} </td>
    </ng-container>
    <ng-container matColumnDef="Topic">
      <th mat-header-cell *matHeaderCellDef> Topic </th>
      <td mat-cell (click)="getTopic(posting.id)" *matCellDef="let posting"> {{posting.topicName}} </td>
    </ng-container>
    <ng-container matColumnDef="Poster">
      <th mat-header-cell *matHeaderCellDef style="width: 15%"> Created By </th>
      <td mat-cell (click)="getTopic(posting.id)" *matCellDef="let posting"> {{posting.user.username}} </td>
    </ng-container>
    <ng-container matColumnDef="CreateDate">
      <th mat-header-cell *matHeaderCellDef style="width: 15%"> Date Posted </th>
      <td mat-cell (click)="getTopic(posting.id)" *matCellDef="let posting"> {{posting.createDate}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <div style="background-color: black; color: white; float: right;">
    <button mat-button *ngIf="hasFirst()" (click)="getFirst()">First</button>
    <button mat-button *ngIf="hasPrev()" (click)="getPrev()">Prev</button>
    <button mat-button *ngIf="hasNext()" (click)="getNext()">Next</button>
    <button mat-button *ngIf="hasLast()" (click)="getLast()">Last</button>
  </div>
</div>
